body {
    margin: 0;
    padding: 0;
}

main, footer {
    margin: 8px;
}

.banner{
    background-color: #4da1ff;
    background-image: url("img/pattern.png");
    height: 180px;
}

.logo {
    height: 85px;
    margin-top: 75px;
    margin-left: 10px;
}
